
<div class=" content">
  <form>
    <div class="form-group">
      <label for="exampleInputSentence" style="font-size: xx-large;">Input a sentence</label>
    </div>
    <div style="display: flex;">
      <input type="text" class="form-control" id="exampleSentence" placeholder="Enter sentence" [(ngModel)]="string" style="width: 75%; margin: 10px;">
      <button class="glow-on-hover" type="submit" (click)="onClick()">Submit</button>
    </div>
  </form>
  <div style="margin-top: 25px;">
    <h3 style="font-size: 30px; color: chocolate; font-weight: 200; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><strong>Show label</strong></h3>
    <div style="margin-left: 30px;">
      <div style="margin-top: 20px; font-size: 25px; color: greenyellow; border: tomato thin;">{{this.example1}}</div>
      <div style="margin-top: 20px; font-size: 25px; color: greenyellow; border: tomato thin;">{{this.example2}}</div>
      <div style="margin-top: 20px; font-size: 25px; color: greenyellow; border: tomato thin;">{{this.example3}}</div>
      <div style="margin-top: 20px; font-size: 25px; color: greenyellow; border: tomato thin;">{{this.example4}}</div>
    </div>
  </div>
</div>
