<div class=" content">
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Happy</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.hanhphuc}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-success mr-2">{{(this.hanhphuc/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Sad</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.buonba}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-danger mr-2">{{(this.buonba/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Angry</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.phanno}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-warning mr-2">{{(this.phanno/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 40px;">
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Fear</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.sohai}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-success mr-2">{{(this.sohai/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Surprise</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.ngacnhien}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-danger mr-2">{{(this.ngacnhien/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0 first-row-card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0"><strong>Info</strong></h4>
                    <span class="h2 font-weight-bold mb-0" style="font-size: 40px; color: orange; margin-top: 5px;">{{this.thongtin}}</span>
                  </div>
                  <div class="col-auto" style="font-size: 25px; margin-top: 10px; margin-right: 10px;">
                    <div class="icon icon-shape text-white">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="font-size: 18px;">
                  <span class="text-warning mr-2">{{(this.thongtin/this.tong_train) | percent}}</span>
                  <span class="text-nowrap">Of train data</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" row">
    <div class=" col-lg-4">
      <div class="card card-chart" style="height: 330px;text-align: center; background-color: transparent;">
        <div class="loader">
          <div class="rocket">
            <i class="fa-solid fa-rocket"></i>
            <i class="fa-solid fa-cloud" style="--i:0"></i>
            <i class="fa-solid fa-cloud" style="--i:1"></i>
            <i class="fa-solid fa-cloud" style="--i:2"></i>
            <i class="fa-solid fa-cloud" style="--i:3"></i>
          </div>
          <span><i></i></span>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart hover-animate">
        <div class=" card-header">
          <h4 class=" card-category cart-title">Total Time</h4>
          <h2 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> {{ this.total_time }} second
          </h2>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineRed"> </canvas></div>
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart hover-animate">
        <div class=" card-header">
          <h4 class=" card-category cart-title">Best Accuracy</h4>
          <h2 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> {{this.dataAccuracy[0]}}
          </h2>
        </div>
        <div class=" card-body">
          <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  <div class=" row" style="margin-top: 20px;">
    <div class=" col-12">
      <div class=" card card-chart hover-animate">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h4 class=" card-category cart-title">Total Train Data</h4>
              <h2 class=" card-title"><i class=" tim-icons icon-delivery-fast text-info"> </i> {{ this.tong_all }}</h2>
            </div>
            <!-- <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[0];updateOptions();clicked=true;clicked1=false;clicked2=false" [ngClass]="{'active':clicked===true}">
                  <input checked="checked" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Accounts
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-single-02"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[1];updateOptions();clicked=false;clicked1=true;clicked2=false" [ngClass]="{'active':clicked1===true}">
                  <input
                    class=" d-none d-sm-none"
                    name="options"
                    type="radio"
                  />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Purchases
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-gift-2"> </i>
                  </span>
                </label>
                <label class=" btn btn-sm btn-danger btn-simple" (click)="data=datasets[2];updateOptions();clicked=false;clicked1=false;clicked2=true" [ngClass]="{'active':clicked2===true}">
                  <input class=" d-none" name="options" type="radio" />

                  <span
                    class=" d-none d-sm-block d-md-block d-lg-block d-xl-block"
                  >
                    Sessions
                  </span>
                  <span class=" d-block d-sm-none">
                    <i class=" tim-icons icon-tap-02"> </i>
                  </span>
                </label>
              </div>
            </div> -->
          </div>
        </div>
        <div class=" card-body">
          <div class=" chart-area" style="height: 300px;"><canvas id="chartBig1"> </canvas></div>
        </div>
      </div>
    </div>
  </div>
  
</div>
