
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Train Data</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Sentences</th>
                  <th class=" text-center">Labels</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.dataTrain">
                  <td style="white-space: nowrap; overflow: hidden;">{{item[0]}}</td>
                  <td class=" text-center"  style="white-space: nowrap; overflow: hidden;">{{item[1]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Test Data</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Sentences</th>
                  <th class=" text-center">Labels</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of this.dataTest">
                  <td style="white-space: nowrap; overflow: hidden;">{{item[0]}}</td>
                  <td class=" text-center"  style="white-space: nowrap; overflow: hidden;">{{item[1]}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
